<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>   
          <add name="MyKey" 
                connectionString="Server=rephie0000.db.11668264.hostedresource.com;Database=rephie0000;Uid=rephie0000;Pwd=E5th3rdb@w0rk;"
                providerName="EEPrep.DatabaseConnection"/>
      </connectionStrings>
</configuration>